.home
  .row
    .col-md-4.offset-md-2.px-3
      = image_tag 'https://code-jump.com/demo/html/ec/img/item.jpg', class: 'home__image'
    .col-md-4.px-3
      %h2.home__title
        TOTALLY Short Sleeve Shirt
      .home__description
        テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキスト
      .home__price
        ￥9,999 +tax
      %table.home__variants
        %tr
          %th Color
          %th Size
          %th
        - %w(S M L).each do |size|
          %tr
            %th
              White
            %th #{size}
            %th
              = select_tag :count, options_for_select([1, 2, 3, 4, 5], 1), class: 'form-control'
      = button_tag 'ADD TO CART', class: 'home__cart-button'
      %table.home__size
        %tr
          -%w(Size Chest Weist Height).each do |label|
            %th #{label}
        - %w(S M L).each do |size|
          %tr
            %th #{size}
            - 3.times.each do
              %td 0-99
