%header.header
  %h1.header__title TOTALLY
  %nav.header__nav
    %ul.header__nav-list
      %li.header__nav-item
        = link_to 'ALL', '#', class: 'header__nav-link'
      %li.header__nav-item
        = link_to 'NEW', '#', class: 'header__nav-link'
      %li.header__nav-item
        = link_to 'VINTAGE', '#', class: 'header__nav-link'
      %li.header__nav-item
        = link_to 'CATEGORY', '#', class: 'header__nav-link'
      %li.header__nav-item
        = link_to 'LOOKBOOK', '#', class: 'header__nav-link'
      %li.header__nav-item
        = link_to 'BLOG', '#', class: 'header__nav-link'
      %li.header__nav-item.is-right
        = link_to 'LOGIN', '#', class: 'header__nav-link'
      %li.header__nav-item
        = link_to 'CONTACT', '#', class: 'header__nav-link'
